.cards>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.cards>ul>li {
    display: flex;
    flex: 1 1 20rem;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--background-color);
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards>ul>li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}