/* header and nav layout */
nav .nav-sections .columns-3-cols {
    background-color: #373A36;
    display: flex;
    justify-content: flex-end;

    .button-container {
        margin: 0;

        a {
            background: none;

        }
    }
}

header nav .nav-hamburger {
    display: none;
    visibility: hidden;
}