footer {
    background-color: #000;
    color: #FFFF;
}

footer .footer>div {
    margin: auto;
    max-width: 1200px;
    padding: 40px 24px 24px;

    .columns.block {
        div:last-child {
            display: flex;
            gap: 10px;
        }
    }

    .button-container {
        a.button {
            background-color: #2D938E;
        }
    }
}

footer .footer p {
    margin: 0;
}

@media (width >=900px) {
    footer .footer>div {
        padding: 40px 32px 24px;
    }
}